/*-- Main body text --*/

body {
    font-family: 'Lato', sans-serif;

}

/*-- Navbar logo --*/

.logo {
    color: #fafafa;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
}

/*-- Navbar anchor hover  --*/

.navbar > a:hover {
    color: #f05f40;
}

/*-- Jumbotron Text --*/

.cta-text {
    color: #fafafa;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 4px;
}

/*-- Section header text formatting --*/

.section-header {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
}

/*-- Underlining used for headers --*/

.heading-underline {
    width: 75px;
    height: 5px;
    background-color :#f05f40;
}


/*-- Main jumbotron on home page --*/

.callout-container {
    height: 100vh;

    background: url("../images/bjj_main_rolling1.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
}

.jumbotron {
    background-color: transparent;
    color: #fff;
}

.callout-hr {
    background-color: #fff;
}


/*-- Pricing option boxes --*/

.card-header {
    background-color: #f05f40;
}

.pricing-option {
    color: #fff;
}

.card-body > h5 {
    font-weight: bold;  
}

/*-- Footer --*/


footer {
    background-color: #343a40;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.footer-container {
    padding: 20px;
}

.footer-container > p {
    font-size: 3px; 
}

.social-links li a i {
    
    color: #fafafa;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    
}

.social-links li a i:hover {
    background: rgba(255,255,255,.5);
}

/*-- Testimonials Carousel --*/

.testimonials-container {
    height: 60vh;


    background: url("../images/bjj_rolling1.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


    display: flex;
    align-items: center;
    justify-content: center;


    position: relative;
}

.carousel-item {
    color: #fff;
}



/*--About BJJ jumbotron on about page --*/

.info-container {
    height: 100vh;

    background: url("../images/bjj_main_rolling1.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}


/*-- Contact Form --*/

.form-container {
    background: url("../images/bjj_main_rolling1.jpg") no-repeat center;
    background-size: cover;
    background-position: center;
    max-height: 100%;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0,0,0,0.25);
    padding: 30px;
}


.contact-form {
    
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
    
}

/*-- Map --*/

