

/*-- Underlining used for headers --*/

.heading-underline {
    width: 75px;
    height: 5px;
    background-color :#f05f40;
}

/*-- Main jumbotron on home page --*/

.callout-container {
    height: 100vh;

    background: url("../images/bjj_main_rolling1.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
}

.jumbotron {
    background-color: transparent;
    color: #fff;
}

.callout-hr {
    background-color: #fff;
}


/*-- Pricing option boxes --*/

.card-header {
    background-color: #f05f40;
}

.pricing-option {
    color: #fff;
}

/*-- Footer --*/


footer {
    background-color: #343a40;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.footer-container {
    padding: 20px;
}

.social-links li a i {
    
    color: #fafafa;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    
}

.social-links li a i:hover {
    background: rgba(255,255,255,.5);
}

/*-- Testimonials Carousel --*/

.testimonials-container {
    height: 30vh;


    background: url("../images/bjj_rolling1.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


    display: flex;
    align-items: center;
    justify-content: center;


    position: relative;
}

.carousel-item {
    color: #fff;
}



/*--About BJJ jumbotron on about page --*/

.info-container {
    height: 100vh;

    background: url("../images/bjj_main_rolling1.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}


/*-- Contact Form --*/

.form-container {
    

    background: url("../images/bjj_main_rolling1.jpg") no-repeat bottom right fixed; 
    
    

}

.contact-form {
    
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}



/*-- Gallery --*/

#photo {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

@media screen and (max-width: 800px)
#photo {
    column-count: 2;
}

@media screen and (max-width: 943px)
#photo {
    column-count: 3;
}

.map-container {
    background: url("../images/map.JPG") no-repeat fixed;
    height: 100vh;
}